@charset "UTF-8";


body {
    background-image: url(pacote-d013/imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: 0px;
}

img {
    height: 7vh;
    border-radius: 5vh;
    box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.65);
}

img:hover {
    transform: scale(1.05); 
    border: 1px solid yellow;
}

nav {
    margin-right: 3px;
    text-align: right;
    height: 0vh;
    line-height: 5;
}

main {
    background: url(pacote-d013/imagens/frame-iphone.png) center center no-repeat fixed;
    background-size: contain;
    height: 100vh;
}


iframe {
    height: 510px;
    width: 269px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
}




/**
- borda amarela do hover com efeitinho
- troca de página bizarra
- 

**/